body {
    background-color: #080808;
    background-position: 100% -50%;
    background-repeat: no-repeat;
    color: #f9f9f9;
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 15px;
}


h1, h2, h3, h4, h5, h6 {
    font-style: bold;
    margin-bottom: 0.5em;
}

h2 {
    font-weight: normal;
}

a {
    color: yellow;
}

.header {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    background-color: #0b5fa5;
    border-bottom: 1px solid #3f8fd2;
    background: -webkit-gradient(linear, left top, left bottom, from(#25547b), to(#0b5fa5));
    background: -webkit-linear-gradient(top, #25547b, #0b5fa5);
    background: -moz-linear-gradient(top, #25547b, #0b5fa5);
    background: -ms-linear-gradient(top, #25547b, #0b5fa5);
    background: -o-linear-gradient(top, #25547b, #0b5fa5);

}

.logo {
    text-align: left;
}

.logged-in-user {
    text-align: right;
    padding-top: 24px;
}

.logged-in-user .separator {
    color: #043c6b;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
}

.logged-in-user span {
    padding-left: 10px;
}


.logged-in-user a {
    color: white;
    text-decoration: none;
    font-weight:400;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
}

.logged-in-user a:hover {
    text-decoration: underline;
}

.field input {
    border-radius: 4px;
    vertical-align: middle;
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 15px;
}

.field-inner {
    padding: 0px;
    margin-left: 0px;
    margin-top: -10px;
    margin-right: 20px;
    margin-bottom: 10px;
}


input:focus {
    outline: none;
}

input.field {
    margin-top: 10px;
}

.errors {
    border: solid thin red;
    border-radius: 4px;
    font-size: 15px;
    padding: 10px;
    padding-top: 20px;
    margin-top: -10px;
    margin-right: -20px;
    color: red;
    display: none;
}

/* http://css-tricks.com/examples/ButtonMaker/# */
.button {
    border-top: 1px solid #c5ffc2;
    background: #1d8b00;
    background: -webkit-gradient(linear, left top, left bottom, from(#2dd700), to(#1d8b00));
    background: -webkit-linear-gradient(top, #2dd700, #1d8b00);
    background: -moz-linear-gradient(top, #2dd700, #1d8b00);
    background: -ms-linear-gradient(top, #2dd700, #1d8b00);
    background: -o-linear-gradient(top, #2dd700, #1d8b00);
    padding: 10px;
    border-radius: 4px;
    /*box-shadow: #666666 1px 1px 7px;*/
    /*text-shadow: rgba(0,0,0,.4) 0 1px 0;*/
    color: #eeeeee;
    font-size: 19px;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
}
.button:hover {
    border-top-color: #fafafa;
    background: #f0fc00;
    color: #080808;
    text-shadow: none;
}
.button:active {
    border-top-color: #f2f5f2;
    background: #f2f5f2;
}


.designs .top {
    border-top: 1px solid #3f8fd2;
    border-bottom: 1px solid #043c6b;

    background-color: #0b5fa5;

    background: -webkit-gradient(linear, left top, left bottom, from(#0b5fa5), to(#25547b));
    background: -webkit-linear-gradient(top, #0b5fa5, #25547b);
    background: -moz-linear-gradient(top, #0b5fa5, #25547b);
    background: -ms-linear-gradient(top, #0b5fa5, #25547b);
    background: -o-linear-gradient(top, #25547b, #25547b);

    padding: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    /*text-shadow: rgba(0,0,0,.4) 0 1px 0;*/
}


.design {
    padding: 10px;
    background: #000000;
    border-right: 1px solid #333333;
    border-left: 1px solid #333333;
    
}

.design {
    border-bottom: 1px solid #333333;
    position: relative;
}

.design .delete-button {
    position: absolute;
    right: 11px;
    top: 11px;
    width: 16px;
    height: 16px;
    display: none;
    background: no-repeat url("/static/images/delete_button_gray.png");
    
}

.design:hover .delete-button {
    display: inline;
}

.delete-button:hover {
    display: inline;
    background: no-repeat url("/static/images/delete_button_red.png");

}

.design:hover {
    background: #1c1c1c;
    color: white;
    cursor: pointer;
}

.design:hover a {
    color: white;
}

.design:last-child {
    border-right: 1px solid #333333;
    border-left: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
}

.empty, .empty:hover {
    color: #333333;
}
	



