* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 85%;
    line-height: 1em; /*color: #393939;*/
    color: #444444;
    background-color: #020202;
}


#progress {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 48px;
    height: 36px;
    margin: auto;
    background-color: black;
    opacity: 0.5;
    border-radius: 15px;
    padding: 0px;
    padding-top: 12px;
    text-align: center;
} 

#messages-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    height: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

#messages-container div.error {
    color: red;
}

#messages-container div.info {
    color: white;
}

#toolWheel {
    position: fixed;
    display: none;
}

#toolbarStaging {
    display: none;
    position: fixed;
}

img#logo {
    position: absolute;
    left: 10px;
    bottom: 0px;
}

#design-details {
    position: absolute;
    left: 0;
    top: 10px;
}

#session {
    position: absolute;
    top: 10px;
    right: 0;
    text-align: right;
}

.top-menu span {
    padding-left: 10px;
    padding-right: 10px;
}

.top-menu {
    color: #eeeeee;
    padding: 5px;
}

.top-menu span.action {
    padding: 5px;
    border-radius: 5px;

    border: 1px solid #333333;
    background-color: #333333;
    text-shadow: 1px 0px #666666;

    background: linear-gradient(top, #333333, #111111);
    background: -webkit-linear-gradient(top, #333333, #111111);
    background: -moz-linear-gradient(top, #333333, #111111);
    background: -ms-linear-gradient(top, #333333, #111111);
    background: -o-linear-gradient(top, #333333, #111111);
}

.top-menu span.action:hover {
    background: none;
    border: solid thin #043c6b;

    border-top: solid thin #66a1d2;
    border-left: solid thin #0b5fa5;
    border-right: solid thin #0b5fa5;

    background: -webkit-gradient(linear, left top, left bottom, from(#3f8fd2), to(#25547b));
    background: -webkit-linear-gradient(top, #3f8fd2, #0b5fa5);
    background: -moz-linear-gradient(top, #3f8fd2, #25547b);
    background: -ms-linear-gradient(top, #3f8fd2, #25547b);
    background: -o-linear-gradient(top, #3f8fd2, #25547b);

}

.top-menu a {
    color: white;
    text-decoration: none;
}

.top-menu span {
    opacity: 1;
}

/*.top-menu:hover > span, #design-name, #username {
    opacity: 1;
    -webkit-transition: opacity 0.1s linear;
}*/

#action-save {
    cursor: pointer;
}

#design-name {
    margin-top: -5px;
}

.toolbar {
    background-color: #333;
    padding: 5px;
    border-radius: 0px;
    opacity: 0.75;
    border: solid thin #666;
}

.toolbar img {
    background: transparent;
    opacity: 1.0;
}

/* ---------------------------------- TreeView ------------------------------------ */

#geom-model-doc {
    position: absolute;
    left: 20px;
    top: 80px;
    color: white;
}

#geom-model-doc table {
    border-collapse:collapse;
    /*border: solid thin grey;*/
    text-align: left;
}

#geom-model-doc table td {
    border: 1px solid #666;
    padding: 3px;
}


#geom-model-doc table tr.odd {
    background-color: #000;
}

#geom-model-doc table tr.even {
    background-color: #222;
}

#geom-model-doc table tr.validation-error {
    background-color: #c00;
}

#geom-model-doc table tr.selected {
    background-color: #eeee00;
    color: black;
}

.show-hide-siblings {
    padding-right: 3px;
}

.select-geom {
    cursor: pointer;
}

.delete-transform {
    color: #900;
    text-align: right;
    cursor: pointer;
    padding-left: 5px;
}

