* {
    margin: 0;
    padding: 0;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

html {
    overflow-y: scroll;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 85%;
    line-height: 1em; /*color: #393939;*/
    color: #444444;
    background-color: #020202;
}

#webgl-detector {
    font-family: monospace;
    font-fsize: 13px;
    text-align: center;
    background: #eee;
    color: #000;
    padding: 1em;
    width: 475px;
    margin: 5em auto 0;
    border-radius: 5px;
}

#progress {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 48px;
    height: 36px;
    margin: auto;
    background-color: black;
    opacity: 0.5;
    border-radius: 15px;
    padding: 0px;
    padding-top: 12px;
    text-align: center;
} 

#messages-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    height: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#messages-container li {
    border-left: solid thin #777777;
    border-right: solid thin #777777;
    border-bottom: solid thin #777777;
    padding: 5px;
    list-style-type: none
}

#messages-container li.info {
    background-color: #0b5fa5;
}

#messages-container li.error {
    background-color: #fb000d;
}

#messages-container li.info:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    background: -webkit-gradient(linear, left top, left bottom, from(#0b5fa5), to(#25547b));
    background: -webkit-linear-gradient(top, #0b5fa5, #25547b);
    background: -moz-linear-gradient(top, #0b5fa5, #25547b);
    background: -ms-linear-gradient(top, #0b5fa5, #25547b);
    background: -o-linear-gradient(top, #25547b, #25547b);
}

#messages-container li.error:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    background: -webkit-gradient(linear, left top, left bottom, from(#fb000d), to(#a30008));
    background: -webkit-linear-gradient(top, #fb000d, #a30008);
    background: -moz-linear-gradient(top, #fb000d, #a30008);
    background: -ms-linear-gradient(top, #fb000d, #a30008);
    background: -o-linear-gradient(top, #fb000d, #a30008);
}

#messages-container li {
    color: white;
    position: relative;
}

#messages-container .delete-button {
    position: absolute;
    right: 5px;
    top: 4px;
    width: 16px;
    height: 16px;
    display: none;
    background: no-repeat url("/static/images/delete_button_gray.png");
    
}

#messages-container li:hover .delete-button {
    display: inline;
}

#messages-container .delete-button:hover {
    display: inline;
    background: no-repeat url("/static/images/delete_button_red.png");

}

#toolWheel {
    position: fixed;
    display: none;
}

#toolbarStaging {
    display: none;
    position: fixed;
}

#floating-dom-view {
    position: fixed;
}

img#logo {
    position: absolute;
    left: 10px;
    bottom: 0px;
}

#design-details {
    position: absolute;
    left: 0;
    top: 10px;
}

#session {
    position: absolute;
    top: 10px;
    right: 0;
    text-align: right;
}

.top-menu span {
    padding-left: 10px;
    padding-right: 10px;
}

.top-menu {
    color: #eeeeee;
    padding: 5px;
}

.top-menu span.action {
    padding: 5px;
    border-radius: 5px;

    border: 1px solid #333333;
    background-color: #333333;
    text-shadow: 1px 0px #666666;

    background: linear-gradient(top, #333333, #111111);
    background: -webkit-linear-gradient(top, #333333, #111111);
    background: -moz-linear-gradient(top, #333333, #111111);
    background: -ms-linear-gradient(top, #333333, #111111);
    background: -o-linear-gradient(top, #333333, #111111);
}

#action-import-json {
    padding: 5px;
    border-radius: 5px;
}
.offscreen {
    position: absolute;
    top: -200px;
    left: -200px;
}

.top-menu span.action:hover {
    background: none;
    border: solid thin #043c6b;

    border-top: solid thin #66a1d2;
    border-left: solid thin #0b5fa5;
    border-right: solid thin #0b5fa5;

    background: -webkit-gradient(linear, left top, left bottom, from(#3f8fd2), to(#25547b));
    background: -webkit-linear-gradient(top, #3f8fd2, #0b5fa5);
    background: -moz-linear-gradient(top, #3f8fd2, #25547b);
    background: -ms-linear-gradient(top, #3f8fd2, #25547b);
    background: -o-linear-gradient(top, #3f8fd2, #25547b);

}

.top-menu a {
    color: white;
    text-decoration: none;
}

.top-menu span {
    opacity: 1;
}

/*.top-menu:hover > span, #design-name, #username {
    opacity: 1;
    -webkit-transition: opacity 0.1s linear;
}*/

.collapsible {
    display: inline;
}

.collapsible .options {
    display: inline;
}

.collapsible .options {
    display:none;
}

.collapsible:hover .options {
    display:inline;
}

img.action:hover {
    background-color: #444;
}

#design-name {
    margin-top: -5px;
}

.toolbar {
    background-color: #333;
    padding: 5px;
    border-radius: 0px;
    opacity: 0.75;
    border: solid thin #666;
}

.toolbar img {
    background: transparent;
    opacity: 1.0;
}

#black-overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1;
    -moz-opacity: 0.7;
    opacity:.7;
    filter: alpha(opacity=70);
}

#thingiverse-export {
    display: none;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    color: white;
    top: 25%;
    width: 30%;
    left: 35%;
    height: 375px;
    z-index:2;
    background-color: rgba(0,0,0,0.6);
}

#thingiverse-export input, #thingiverse-export textarea {
    padding: 10px;
    margin: 10px;
}

#thingiverse-export .heading {
    border-top: 1px solid #3f8fd2;
    border-bottom: 1px solid #043c6b;

    background-color: #0b5fa5;

    background: -webkit-gradient(linear, left top, left bottom, from(#0b5fa5), to(#25547b));
    background: -webkit-linear-gradient(top, #0b5fa5, #25547b);
    background: -moz-linear-gradient(top, #0b5fa5, #25547b);
    background: -ms-linear-gradient(top, #0b5fa5, #25547b);
    background: -o-linear-gradient(top, #25547b, #25547b);

    padding: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    /*text-shadow: rgba(0,0,0,.4) 0 1px 0;*/
}

#thingiverse-export .form {
    padding-top: 10px;
}

#thingiverse-export {
    border-left: solid thin #333333;
    border-bottom: solid thin #333333;
    border-right: solid thin #333333;
    border-radius: 5px;
}


#thingiverse-export .heading {
    font-size: 15px;
    text-align: center;
}

#thingiverse-export .inner1 {
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 50px;
}

#thingiverse-export .inner2 {
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0;
    margin-right: 30px;
}

#thingiverse-export input[type=text] {
    border-radius: 4px;
    vertical-align: middle;
    border: none;
    padding: 10px;
    font-size: 15px;
    width: 100%;
}

#thingiverse-export textarea {
    height:100px;
    border-radius: 4px;
    border: none;
    padding: 10px;
    font-size: 15px;
    width: 100%;
}

#thingiverse-export input[type=submit] {
    border: none;
    background: #1d8b00;
    border-top: 1px solid #c5ffc2;
    background: #1d8b00;
    background: -webkit-gradient(linear, left top, left bottom, from(#2dd700), to(#1d8b00));
    background: -webkit-linear-gradient(top, #2dd700, #1d8b00);
    background: -moz-linear-gradient(top, #2dd700, #1d8b00);
    background: -ms-linear-gradient(top, #2dd700, #1d8b00);
    background: -o-linear-gradient(top, #2dd700, #1d8b00);
    border-radius: 5px;
    color: white;
    font-size: 15px;
    width: 100%; 
}

#thingiverse-export input.cancel {
    background: #1d8b00;
    border-top: 1px solid #999999;
    background: #1d8b00;
    background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#333333));
    background: -webkit-linear-gradient(top, #555555, #333333);
    background: -moz-linear-gradient(top, #555555, #333333);
    background: -ms-linear-gradient(top, #555555, #333333);
    background: -o-linear-gradient(top, #555555, #333333);
}
 

#thingiverse-export input[type=submit]:hover {
    border-top-color: #fafafa;
    background: #f0fc00;
    color: #080808;
    text-shadow: none;
}


/* ---------------------------------- TreeView ------------------------------------ */

#treeview-container {
    position: absolute;
    left: 20px;
    top: 80px;
    color: white;
}

#advanced {
    padding-bottom: 5px;
}

#advanced label {
    padding: 5px;
}

#geom-model-doc {
    display: none;
}

#geom-model-doc table {
    border-collapse:collapse;
    text-align: left;
}

#geom-model-doc table td {
    border: 1px solid #666;
    padding: 3px;
}


#geom-model-doc table tr.odd {
    background-color: #000;
}

#geom-model-doc table tr.even {
    background-color: #222;
}

#geom-model-doc table tr.validation-error {
    background-color: #c00;
}

#geom-model-doc table tr.selected {
    background-color: #eeee00;
    color: black;
}

.show-hide-siblings, .show-hide-contents {
    padding-right: 3px;
}

.select-geom {
    cursor: pointer;
}

.delete-transform {
    color: #900;
    text-align: right;
    cursor: pointer;
    padding-left: 5px;
}

.dimension {
    color: #66A1D2;
    font-size: 10pt;
    background-color: rgba(50,50,50,0.2);
    border-radius: 3px;
    padding: 3px;
}

.dimension.z {
    color: #993333;
}

.node-actions {
    margin-left: 5px;
}

.node-actions img {
    padding-left: 2px;
}


