body {
    background-color: #fcfcfc;
}

.splash {
    box-shadow: 0px 0px 30px #888;
    border-radius: 5px;
    border-top: solid thin #E0E0E0;
    border-left: solid thin #E0E0E0;
}

#toolbar {
    margin-left: -174px;
}

#toolbar .item {
    padding-bottom: 10px;
}

#toolbar .item .label {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 42px;
}

#toolbar .item:hover .label {
    display: inline-block;
}

#toolbar li {
    position: relative;
    /*padding-top: 5px;*/
}


#toolbar {
    padding: 5px;
    bottom: 10px;
    border-radius: 5px;
    font-size: 8px;
}

#toolbar .item.active {
    border-top: solid thin #FDFFD5;
    border-right: solid thin #FCFDE2;
    margin-top: -1px;
    margin-right: -1px;
    /*border-radius: 2px;*/
}

.toolbar.geometry .cube .icon {
    background-image: url('/ui/images/icons/cube32x32.greyscale.png');
}

.toolbar.geometry .cube:hover .icon {
    background-image: url('/ui/images/icons/cube32x32.png');
}


.icon24.cube {
    background-image: url('/ui/images/icons/cube24x24.png');
}

.toolbar.geometry .sphere .icon {
    background-image: url('/ui/images/icons/sphere32x32.png');
}

.icon24.sphere {
    background-image: url('/ui/images/icons/sphere24x24.png');
}

