%%-*- mode: erlang -*-
{deps, [
	{lager, "0.9.4", {git, "git://github.com/basho/lager", {tag, "0.9.4"}}},
	{webmachine, "1.8.1", {git, "git://github.com/basho/webmachine", {tag, "webmachine-1.8.1"}}},
	{jiffy, "0.2.0", {git, "git://github.com/bjnortier/jiffy", "master"}},
	{'riakc', "1.2.*", {git, "git://github.com/basho/riak-erlang-client", {tag, "1.2.0"}}},
	{meck, "0.7.*", {git, "git://github.com/eproxus/meck.git", {tag, "0.7.1"}}},
	{walrus, "0.1.*", {git, "git://github.com/bjnortier/walrus.git", "master"}},
	{bcrypt, "0.2.*", {git, "git://github.com/mrinalwadhwa/erlang-bcrypt.git", "master"}}
       ]}.
{erl_opts, [{parse_transform, lager_transform}]}.
