%%-*- mode: erlang -*-
{deps, [
	{lager, "0.9.4", {git, "git://github.com/basho/lager", {tag, "0.9.4"}}},
	{webmachine, "1.9.0", {git, "git://github.com/basho/webmachine", {branch, "riak-1.0.x"}}},
	{jiffy, "0.2.0", {git, "git://github.com/bjnortier/jiffy", "master"}},
	{'riakc', "1.2.*", {git, "git://github.com/basho/riak-erlang-client", {tag, "1.2.0"}}},
	{meck, "0.7.*", {git, "git://github.com/bjnortier/meck.git", {branch, "R15B"}}},
	{walrus, "0.1.*", {git, "git://github.com/bjnortier/walrus.git", "master"}},
	{bcrypt, "0.4.1", {git, "git://github.com/smarkets/erlang-bcrypt.git", {tag, "0.4.1"}}}
       ]}.
{erl_opts, [{parse_transform, lager_transform}]}.
