@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400);

* {
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    /* @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300); 
    font-family: 'Open Sans', sans-serif;
    */
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-size: 85%;
    line-height: 1em; /*color: #393939;*/
    color: #fff;
}

#webgl-detector {
    font-family: monospace;
    font-size: 13px;
    text-align: center;
    background: #eee;
    color: #000;
    padding: 1em;
    width: 475px;
    margin: 5em auto 0;
    border-radius: 5px;
}

#scene {
    color: #080808;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}


img#logo {
    position: absolute;
    right: 10px;
    bottom: 10px;
    height: 50px;
}

.toolbar {
    background: rgba(31, 31, 31, 0.46);
    padding: 5px;
}

.toolbar.geometry {
    position: absolute;
    margin-left: -67px; /* 2x 32 + 5/2 */
    left: 50%;
    bottom: 0px;
    padding-bottom: 10px;
}

.toolbar.main {
    position: absolute;
    margin-left: -37px;
    left: 50%;
    top: 0px;
    padding-bottom: 10px;
}

.toolbar li {
    list-style-type: none;
    display: inline;    
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 10px;
}

.toolbar li:hover, .okcancel .button:hover {
    border-bottom: solid 2px #fff;
    cursor: pointer;
}

.toolbar .item.active {
    border-bottom: solid 2px #ff0;
}

.coordinate, .named  {
    padding: 5px;
}

#geometry .vertex .name {
    display: inline-block;
    vertical-align: middle;
    margin-top: -26px;
    padding-right: 10px;
    color: #fff;
}

#variable-manager .name {
    padding: 12px;
}

#variable-manager .add {
    font-size: 1.5em;
    cursor: pointer;
}

#variable-manager .add:hover {
    border-bottom: solid 2px #fff;
    cursor: pointer;
}

.vertex .okcancel {
    float: right;
    padding: 5px;
}

.ok.disabled {
    display: none;
}

.vertex .okcancel div {
    margin: 4px;
}

#graphs {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 10px;
    border-spacing: 5px;
}

#geometry .vertex.display, #geometry .vertex.editing, #variables {
    background: rgba(51, 51, 51, 0.46);
}

#geometry {
    margin-top: 5px;
}

#variables, #geometry {
    border-collapse: collapse;
    padding: 5px;
}   

.vertex.display {
    cursor: pointer;    
}

.vertex .delete {   
    display: inline-block;
    width: 16px;
    height: 16px;   
    background-image: none;
    margin-right: 5px; 
    margin-left: 5px;
    padding-bottom: 8px;
}

.vertex:hover .delete, .vertex.variable:hover .delete {
    background-image: url('/ui/images/icons/delete16x16.disabled.png');
    background-repeat: no-repeat;
}

.vertex .delete:hover {
    background-image: url('/ui/images/icons/delete16x16.png') !important;
    cursor: pointer;
    background-repeat: no-repeat;
}

#geometry .vertex.display:hover td {
    border-bottom: solid #FFF 2px;
}

.vertex.selected td {
    border-bottom: solid #FF0 2px;
}

.vertex.editing .title {
    background: rgba(136, 170, 201, 0.46);
}

.vertex.editing .coordinate.editing {
    background: rgba(91, 91, 91, 0.46);
}

.offscreen {
    position: absolute;
    top: -200px;
    left: -200px;
}

.toolbar .item .icon {
    width: 32px;
    min-height: 32px;
    display: inline-block;
}

.toolbar .item .icon {
    background-position: top; left;
}

.toolbar.main .save .icon {
    background-image: url('/ui/images/icons/save32x32.png');
}

.toolbar.main .exit .icon {
    background-image: url('/ui/images/icons/exit32x32.png');
}

.toolbar.geometry .select .icon {
    background-image: url('/ui/images/icons/mouse32x32.png');
}

.toolbar.geometry .point .icon {
    background-image: url('/ui/images/icons/point32x32.png');
}

.toolbar.geometry .polyline .icon {
    background-image: url('/ui/images/icons/polyline32x32.png');
}

.toolbar.geometry .extrude .icon {
    background-image: url('/ui/images/icons/extrude32x32.png');
}

.toolbar.geometry .extrude.disabled .icon {
    background-image: url('/ui/images/icons/extrude32x32.disabled.png');
}

.toolbar.geometry .extrude.active .icon {
    background-image: url('/ui/images/icons/extrude32x32.png');
}


.coordinate span {
    padding: 2px;
}

.field {
    width: 30px;
    border: none;
    background: none; 
}

#variables .title {
    padding: 5px;
}

.field {
    background: rgba(136, 170, 201, 0.46);
}

#variables .editing .field, 
#variables .name, 
#variables .expression {
    width: 50px;
}

.field.x {
    color: #3da033; 
}

.field.y {
    color: #4394c2;
}

.field.z, .field.h {
    color: #ff706b;
}

#geometry .field {
    margin: 5px;
    padding: 5px;
}

#variables .name, 
#variable .expression,
#variables .field {
    padding: 5px;
}

#variables .field {
    margin-right: 5px;
} 

.error .field {
    border-bottom: solid thin red;
}

/* ---------- Colors ---------- */

body {
    background-color: #ebf0ef;
    color: #000;
}

#geometry {
    background: none;
}

#elevation-plane #ruler {
    color: #000;
}

.toolbar {
    background: rgba(200, 200, 200, 0.7);
}

#geometry .vertex.display, #geometry .vertex.editing, #variables {
    background: rgba(200, 200, 200, 0.7);
}

#geometry .vertex .name {
    color: #000;
}

.field.x {
    color: #225522; 
}

.field.y {
    color: #222255;
}

.field.z, .field.h {
    color: #552222;
}

/* ---------- Scene colors ---------- */

.scene .workplane .majorGridLine {
    color: #000000; 
}

.scene .workplane .minorGridLine {
    color: #000000;
}

.scene .geometry .selected {
    color: #f4f653;
}

.scene .geometry .selectedAmbient {
    color: #333333;
}

.scene .geometry .highlightAmbient {
    color: #ffffff;
}

.scene .geometry .default {
    color: #009900;
}

.scene .geometry .defaultAmbient {
    color: #666666;
}

.scene .geometry .editing {
    color: #007088;
}

